{% extends "base.html" %}

{% block content %}
    {% if crea == 0 %}
        <h2>Имя: {{name}}</h2>
        <br>
        <p>Описание: {{description}}</p>
        <p>id пользователя: {{id_a}}</p>
        <p>Дата создания аккаунта: {{date}}</p>
        <br>
        {% if a == 4 %}
            <h4>Тесты:</h4>
            <br>
            <div>
                <p>Название теста: {{t1}}</p>
                <p>Описание теста: {{des1}}</p>
                <a href="/tests_page//{{id_t1}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t2}}</p>
                <p>Описание теста: {{des2}}</p>
                <a href="/tests_page//{{id_t2}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t3}}</p>
                <p>Описание теста: {{des3}}</p>
                <a href="/tests_page//{{id_t3}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t4}}</p>
                <p>Описание теста: {{des4}}</p>
                <a href="/tests_page//{{id_t3}}" class="btn btn-success">Пройти тест</a>
            </div>
        {% endif %}
        {% if a == 3 %}
            <h4>Тесты:</h4>
            <br>
            <div>
                <p>Название теста: {{t1}}</p>
                <p>Описание теста: {{des1}}</p>
                <a href="/tests_page//{{id_t1}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t2}}</p>
                <p>Описание теста: {{des2}}</p>
                <a href="/tests_page//{{id_t2}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t3}}</p>
                <p>Описание теста: {{des3}}</p>
                <a href="/tests_page{{id_t3}}" class="btn btn-success">Пройти тест</a>
            </div>
        {% endif %}
        {% if a == 2 %}
            <h4>Тесты:</h4>
            <br>
            <div>
                <p>Название теста: {{t1}}</p>
                <p>Описание теста: {{des1}}</p>
                <a href="/tests_page//{{id_t1}}" class="btn btn-success">Пройти тест</a>
            </div>
            <br>
            <br>
            <div>
                <p>Название теста: {{t2}}</p>
                <p>Описание теста: {{des2}}</p>
                <a href="/tests_page//{{id_t2}}" class="btn btn-success">Пройти тест</a>
            </div>
        {% endif %}
        {% if a == 1 %}
            <h4>Тесты:</h4>
            <br>
            <div>
                <p>Название теста: {{t1}}</p>
                <p>Описание теста: {{des1}}</p>
                <a href="/tests_page//{{id_t1}}" class="btn btn-success">Пройти тест</a>
            </div>
        {% endif %}
        {% if a == 0 %}
           <h4>У этого аккаунта нет созданных тестов.</h4>
        {% endif %}
    {% else %}
        <br>
        <br>
        <h4 align="middle">Данного пользователя не существует</h4>
    {% endif %}
{% endblock %}