{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2 align="middle">Поиско имени</h2>
    <br>
    <br>
    {{ form.ac_name.label }}
    <br>
    {{ form.ac_name(class="form-control") }}<br>
    {% for error in form.ac_name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
    <br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}