{% extends "base.html" %}

{% block content %}
<h1 align="center">Записи в блоге</h1>
{% if current_user.is_authenticated %}
<p align="center">
    <a href="tests/create" class="btn">Добавить тест</a>
</p>
{% endif %}
<div class="in_back">
        {% for item in news%}
    <div class="col-md6 border rounded" align="center">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
        {% if current_user.is_authenticated and (current_user == item.user or current_user.admin) %}
        <div>
            <a href="/tests_delete/{{ item.id }}" class="btn">
                Удалить
            </a>
            <a href="/tests_page/{{item.id}}" class="btn">
                Пройти тест
            </a>
        </div>
        {% else %}
           <div>
               <br>
               <a href="/tests_page/{{item.id}}" class="btn">
                Пройти тест
            </a>
               <br>
               <br>
           </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}