{% extends "base.html" %}

{% block content %}
<h1>Добавление теста</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}
        <br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
         {{ form.description.label }}
                <br>
                {{ form.description(class="form-control") }}<br>
                {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        {{ form.teggs.label }}
                <br>
                {{ form.teggs(class="form-control") }}<br>
                {% for error in form.teggs.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
    </div>
    <div>
    </div>
    <div class="container">
        {% for item in form.questions %}
            {% set n_quest = loop.index %}
            {% for it in item %}
                {% if loop.index == 1 %}
                    <div class="row">
                    {{ it.label }} {{ n_quest }}
                    {{ it(class="form-control") }}
                    {% for error in it.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                    </div>
                    <br>

                {% elif loop.index == 2 %}
                    {% for i in it %}
                        <div class="row">
                            {% set field_num = loop.index %}
                            {% for field in item.answer %}
                                {% if loop.index == field_num %}
                                    <div class="col-sm">
                                        {{ field.label }} {{ loop.index }}
                                        {{ field(class="form-control") }}
                                    </div>
                                    <br/>
                                    {% for error in field.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for field in item.scores %}
                                {% if loop.index == field_num %}
                                    <div class="col-sm">
                                        {{ field.label }} {{ loop.index }}
                                        {{ field(class="form-control") }}
                                    </div>
                                    <br/>
                                    {% for error in field.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br>
                {% elif loop.index == 3 %}
                    <br>
                {% elif 3 < loop.index < 6 %}
                    <div class="row">
                        {{ it(type="submit", class="btn") }}
                        {% for error in it.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                    <br>
                {% else %}
                    {{ it }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <br>
    <p>
        <!--<a href="/tests/add_quest" class="btn btn-success">{{ form.submit_con.label.text}}</a>
        <a href="/tests/del_quest" class="btn btn-danger">{{ form.del_con.label.text}}</a>-->
        {{ form.submit_con(type="submit", class="btn") }}
        {{ form.del_con(type="submit", class="btn") }}
    </p>
    <p>

    </p>
    {{message}}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% for item in form.res_point %}
                    {{ item.label }}
                    {{ item(class="form-control") }}
                    {% for error in item.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-sm">
                {% for item in form.res_point_max %}
                    {{ item.label }}
                    {{ item(class="form-control") }}
                    {% for error in item.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-sm">
                {% for item in form.result %}
                    {{ item.label }}
                    {{ item(class="form-control") }}
                    {% for error in item.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <p>
            <!--<a href="add_result" class="btn btn-primary">{{ form.add_res.label.text }}</a>
            <a href="del_result" class="btn btn-danger">{{ form.del_res.label.text }}</a>-->
            {{ form.add_res(type="submit", class="btn") }}
            {{ form.del_res(type="submit", class="btn") }}
        </p>
    </div>
    <br>
    <p>
        {{ form.submit(type="submit", class="btn") }}
    </p>
</form>

{% endblock %}