{% extends "base.html" %}

{% block content %}
<h1>Добавление теста</h1>
<form>
    <p>Название теста</p>
    <p><input type="search" class="form-control"></p>
</form>
<h4>Условия</h4>
<p>{{num}}</p>
<form>
    <p><input type="search" class="form-control"></p>
</form>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a>Ответ</a>
            <form>
                <p><input type="search" class="form-control"></p>
            </form>
        </div>
        <div class="col-sm">
            <a>Количество баллов</a>
            <form>
                <p><input type="search" class="form-control"></p>
            </form>
            <a href="/tests" class="btn btn-primary">
                Создать ответ
            </a>
        </div>
    </div>
</div>
<a href="/tests" class="btn btn-primary">
    Сохранить условие
</a>

{% endblock %}