{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% if crea == 0 %}
        <h1 align="centre">{{name}}</h1>
        <p>Описание: {{content}}</p>
        <p>id теста:{{id_t}}</p>
        <p>id создателя теста:{{user_id}}</p>
        <p>дата создания:{{date}}</p>
        <br>
        <br>
        <!--<a href="/tests_run/{{id_t}}" class="btn btn-primary">Пройти тест</a>-->
        {{ form.run_test(type="submit", class="btn") }}
    {% else %}
        <br>
        <br>
        <h4 align="middle">Данного теста не существует</h4>
    {% endif %}
</form>
{% endblock %}